@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NeueHaasGroteskDisp Pro";
    src: url("./assets/fonts/NHaasGroteskDSPro-55Rg.woff2") format("woff2"),
      url("./assets/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "NeueHaasGroteskDisp Pro Md";
    src: url("./assets/fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"),
      url("./assets/fonts/NHaasGroteskDSPro-65Md.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "NeueHaasGroteskDisp Pro";
    src: url("./assets/fonts/NHaasGroteskDSPro-56It.woff2") format("woff2"),
      url("./assets/fonts/NHaasGroteskDSPro-56It.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Swear Display";
    src: url("./assets/fonts/SwearDisplay-Regular.woff2") format("woff2"),
      url("./assets/fonts/SwearDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "NeueHaasGroteskDisp Pro Md";
    src: url("./assets/fonts/NHaasGroteskDSPro-66MdIt.woff2") format("woff2"),
      url("./assets/fonts/NHaasGroteskDSPro-66MdIt.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Swear Display";
    src: url("./assets/fonts/SwearDisplay-Italic.woff2") format("woff2"),
      url("./assets/fonts/SwearDisplay-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NeueHaasGroteskDisp Pro", sans-serif;
}

.words {
  color: white;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #282828;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #282828;
  transform-origin: top;
}
