@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  /* background: red; */
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 0px;
}

*::selection {
  background-color: #ff6a00d9;
}

@layer base {
  /* Light */
  @font-face {
    font-family: "NeueHaasGroteskDisp Pro";
    src: url("./assets/fonts/NHaasGroteskDSPro-45Lt.woff2") format("woff2"),
      url("./assets/fonts/NHaasGroteskDSPro-45Lt.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  /* Regular */
  @font-face {
    font-family: "NeueHaasGroteskDisp Pro";
    src: url("./assets/fonts/NHaasGroteskDSPro-55Rg.woff2") format("woff2"),
      url("./assets/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  /* Semibold */
  @font-face {
    font-family: "NeueHaasGroteskDisp Pro";
    src: url("./assets/fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"),
      url("./assets/fonts/NHaasGroteskDSPro-65Md.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  /* italic */
  @font-face {
    font-family: "NeueHaasGroteskDisp Pro";
    src: url("./assets/fonts/NHaasGroteskDSPro-56It.woff2") format("woff2"),
      url("./assets/fonts/NHaasGroteskDSPro-56It.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }

  /* Semibold Italic */
  @font-face {
    font-family: "NeueHaasGroteskDisp Pro";
    src: url("./assets/fonts/NHaasGroteskDSPro-66MdIt.woff2") format("woff2"),
      url("./assets/fonts/NHaasGroteskDSPro-66MdIt.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Swear Display";
    src: url("./assets/fonts/SwearDisplay-Regular.woff2") format("woff2"),
      url("./assets/fonts/SwearDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Swear Display";
    src: url("./assets/fonts/SwearDisplay-Italic.woff2") format("woff2"),
      url("./assets/fonts/SwearDisplay-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }
}

html {
  scroll-behavior: initial !important;
  --cursor-color: #ff6a00d9;
}

html,
body {
  min-height: 100%;
  height: auto;
  background: #ffffff;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NeueHaasGroteskDisp Pro", sans-serif;
}

/* Page transition */
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #282828;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #282828;
  transform-origin: top;
}

.blackWords {
  color: #282828;
}

.orangeWords {
  color: #ff6b00;
}
.whiteWords {
  color: #ffffff;
}

.swearFont {
  font-family: "Swear Display", sans-serif;
}

.wordsParent {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .wordsParent {
    max-height: 136.62px !important;
  }
  #aboutTitle div {
    max-height: 100.7px !important;
  }
}

@media (max-width: 1000px) {
  .wordsParent {
    max-height: 99px !important;
  }
  #aboutTitle div {
    max-height: 81.7px !important;
  }
}
@media (max-width: 640px) {
  .wordsParent {
    max-height: 79.2px !important;
  }
  #aboutTitle div {
    max-height: 61.75px !important;
  }
}

@media screen and (max-width: 900px) {
  .left {
    display: none;
  }

  .desktopPhotos {
    display: none;
  }

  .mobileContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .right {
    height: auto;
    width: 100%;
    align-items: center;
  }
}

.sectionTitle div {
  max-height: 42px !important;
}

@media (min-width: 768px) {
  .sectionTitle div {
    max-height: 62px !important;
  }
}

@media (min-width: 768px) {
  .mini-map {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 400px;
    height: 285px;
    z-index: 20000;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #282828;
    background: url("../public/images/figmaDesktopPago.png") top left no-repeat;
    background-size: cover;
  }
  .mini-map-marker {
    position: absolute;
    border: 2px solid #fff;
  }
}
